In [5]:
import pandas as pd

import matplotlib.pyplot as plt

In [8]:
housing_data = pd.read_csv('housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5490,-118.46,33.98,19.0,2520.0,726.0,964.0,663.0,3.8068,500001.0,<1H OCEAN
4855,-118.31,34.02,23.0,1703.0,397.0,1333.0,361.0,1.3187,127100.0,<1H OCEAN
18540,-122.00,36.93,51.0,1616.0,374.0,608.0,302.0,3.1932,400000.0,NEAR OCEAN
17194,-119.79,34.45,24.0,2746.0,433.0,1076.0,380.0,5.8635,348700.0,NEAR OCEAN
15162,-117.03,32.96,16.0,3424.0,698.0,1940.0,645.0,4.1210,182100.0,<1H OCEAN

In [9]:
housing_data = housing_data.dropna()
housing_data.shape

(20433, 10)

In [10]:
housing_data.loc[housing_data['median_house_value']==500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [13]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value']==500001].index)
housing_data.shape

(19475, 10)

In [14]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [15]:
housing_data.shape

(19475, 14)

In [16]:
median = housing_data['median_house_value'].median()
median

173800.0

In [20]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0
housing_data.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
18374,-121.86,37.23,24.0,4337.0,670.0,1936.0,652.0,5.8904,271400.0,1,0,0,0,0,True
263,-122.20,37.77,43.0,2430.0,502.0,1537.0,484.0,2.8980,121400.0,0,0,0,1,0,False
2012,-119.83,36.72,28.0,60.0,10.0,46.0,13.0,4.3500,67500.0,0,1,0,0,0,False
19069,-122.45,38.27,25.0,5024.0,881.0,1994.0,838.0,4.2237,262300.0,0,0,0,1,0,True
10186,-117.95,33.87,35.0,1854.0,383.0,1115.0,381.0,4.4784,185200.0,1,0,0,0,0,True
8413,-118.35,33.94,36.0,2225.0,601.0,2755.0,610.0,2.5547,150400.0,1,0,0,0,0,False
4150,-118.21,34.12,52.0,1590.0,360.0,1127.0,321.0,3.4625,173900.0,1,0,0,0,0,True
19913,-119.29,36.31,14.0,2382.0,377.0,1278.0,386.0,5.1896,101900.0,0,1,0,0,0,False
4015,-118.58,34.15,21.0,3856.0,547.0,1422.0,535.0,8.4196,450700.0,1,0,0,0,0,True
6214,-117.91,34.07,36.0,1390.0,270.0,887.0,266.0,5.0897,189000.0,1,0,0,0,0,True

In [21]:
X = housing_data.drop(['median_house_value', 'above_median'], axis = 1)
Y = housing_data['above_median']

In [22]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [23]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [24]:
from sklearn.linear_model import LogisticRegression
logistic_model  = LogisticRegression(solver='liblinear').fit(x_train,y_train)

In [25]:
print('Training_score : ', logistic_model.score(x_train,y_train))

Training_score :  0.8218870346598203

In [26]:
y_pred = logistic_model.predict(x_test)

In [28]:
df = pd.DataFrame({ 'predicted':y_pred, 'actual':y_test})
df.head(10)

       predicted  actual
19222       True    True
15579       True   False
9317        True    True
9348        True    True
15321       True   False
19086       True    True
9102       False   False
10964       True    True
1635        True    True
12440      False   False